.log__sidebar {
    width: 200px;
    background-color: rgb(243, 237, 230);

    .log__sidebar--header {
        background-color: #b2d3d6;
        padding: 10px;
        font-size: 16px;
        color: #1b7ba4;
    }

    .log__fields {
        
    }
}