.filter {

    .filter__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 10px;

        .filter__head--count {
            color: red;
            font-weight: bold;
            font-size: 18px;
        }
    }

    // container search box
    .filter__search-box {
        display: flex;
        justify-content: space-between;
        padding: 15px 12px;

        .filter__search-box__input {
            flex-grow: 1;
        }
    }
}
