.filter {

    .filter__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 10px;

        .filter__head--count {
            color: red;
            font-weight: bold;
            font-size: 18px;
        }
    }

    // container search box
    .filter__search-box {
        display: flex;
        justify-content: space-between;
        padding: 15px 12px;

        .filter__search-box__input {
            flex-grow: 1;
        }
    }

    .filter__select {
        display: flex;
        margin-bottom: 20px;

        .filter__select--item {
            width: 300px;
            margin-left: 12px;
        }
    }

    .flex {
        display: flex;
    }
    .space-between {
        justify-content: space-between;
    }

    .time__query {
        font-size: 18px;
        padding-right: 16px;
        color: red;
    }
}
