.filter__search-box__btn-refresh {
    display: flex;
    align-items: center;
    height: fit-content;
    border-radius: 5px;
    background-color: #115671;
    padding: 9px 15px;
    color: var(--menu-item-color);
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    
    h4 {
        color: white;
        font-size: 16px;
        margin-bottom: 0;
    }
    i {
        margin-right: 6px;
        font-size: 26px;
    }
}