* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;

  --menu-item-color: #f1fafb;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor-pointer {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
